.ace_editor {
    background-color: #002B36;
    color: #93A1A1;
    font-size: 18px;
    font-family: 'Inconsolata','Menlo';
}

.ace_identifier {
    color: #c76363;
}

.ace_gutter {
    background: #01313f;
    color: #d0edf7;
}

.ace_print-margin {
    width: 1px;
    background: #33555E;
}

.ace_entity.ace_other.ace_attribute-name, .ace_storage {
    color: #93A1A1;
}

.ace_cursor, .ace_string.ace_regexp {
    color: #D30102;
}

.ace_marker-layer .ace_active-line, .ace_marker-layer .ace_selection {
    background: rgba(255, 255, 255, 0.1);
}

.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #002B36;
    border-radius: 2px;
}

.ace_marker-layer .ace_step {
    background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgba(147, 161, 161, 0.50);
}

.ace_gutter-active-line {
    background-color: #0d3440;
}

.ace_marker-layer .ace_selected-word {
    border: 1px solid #073642;
}

.ace_invisible {
    color: rgba(147, 161, 161, 0.50);
}

.ace_keyword, .ace_meta, .ace_support.ace_class, .ace_support.ace_type {
    color: #859900;
}

.ace_constant.ace_character, .ace_constant.ace_other {
    color: #CB4B16;
}

.ace_constant.ace_language {
    color: #B58900;
}

.ace_constant.ace_numeric {
    color: #D33682;
}

.ace_fold {
    background-color: #268BD2;
    border-color: #93A1A1;
}

.ace_entity.ace_name.ace_function, .ace_entity.ace_name.ace_tag, .ace_support.ace_function, .ace_variable, .ace_variable.ace_language {
    color: #268BD2;
}

.ace_string {
    color: #2AA198;
}

.ace_comment {
    font-style: italic;
    color: #657B83;
}

.ace_line.ends_with_foreign:not(.starts_with_foreign) .ace_token, .ace_line.ends_with_foreign:not(.starts_with_foreign) .ace_indent-guide {
    background-color: transparent;
}

.ace_gutter-cell.modified {
    background-color: #8f9489;
}

.ace_paren {
    color: #93a1a1;
}

.ace_ident-guide {
    opacity: 0.15;
}